@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.header--picture {
    max-width: 100%;
}

.main--text {
    margin-top: -40%;
    padding: 0 35rem 0rem 3rem ;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.main--text_main {
    font-size: 52px;
    font-weight: 700;
  
}

.main--text_second {
    font-size: 30px;
    margin-top: 2rem;
    line-height: 2.5rem;
}

.main--text_third {
    font-size: 20px;
    margin-top: 2rem;
    line-height: 2rem;
}

@media (max-width: 1200px){
    .main--text_main {
        font-size: 40px;
        padding: 0 5rem 0rem 1rem ;
    }
    .main--text_second {
        font-size: 20px;
    }
    .main--text_third {
        font-size: 16px;
    }
}


@media (max-width: 1000px){
    .main--text_main {
        font-size: 30px;
        padding: 0rem 1rem 0rem 0rem ;
    }
    .main--text_second {
        font-size: 16px;
        line-height: 1.5rem;
    }
    .main--text_third {
        font-size: 12px;
        line-height: 1.3rem;
    }
}


@media (max-width: 820px){
    .main--text_main {
        font-size: 24px;
        padding: 0rem;
        margin-top: 0;
        width: 450px;
    }
    .main--text_second {
        font-size: 18px;
        line-height: 1.5rem;
        width: 400px;
    }
    .main--text_third {
        font-size: 14px;
        line-height: 1.3rem;
        width: 400px;
    }
}
