@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.accordion {
    padding: 0 100px;
}
.typography {
    font-family: "Montserrat", sans-serif;
}
.MuiTypography-body1 {
    font-size: 18px !important;
    font-family: "Montserrat", sans-serif !important;
}